@page
@model IndexModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Chess</title>
    <link rel="icon" href="/assets/favicon.svg" type="image/svg+xml" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="loading-overlay">
        <div class="loading-spinner"></div>
    </div>

    <div class="login">
        <form id="login-form" onsubmit="login(event)">
            <h2>Login To Chess</h2>

            <div class="fields-container">
                <div class="input-box">
                    <span class="fas fa-user input-icon"></span>
                    <input type="text" id="username" placeholder="Username" oninput="validate_usename(this)" required>
                </div>

                <div class="input-box">
                    <span class="fas fa-lock input-icon"></span>
                    <input type="password" id="password" placeholder="Password" oninput="validate_password(this)" required>
                    <span class="fas fa-eye-slash toggle-password-visibility-button" onclick="toggle_password_visibility(this)"></span>
                </div>
            </div>

            <button class="submit-button">
                <span class="fas fa-sign-in"></span>Login
            </button>

            <div class="form-message" id="error-message">
                <span class="fas fa-exclamation-triangle"></span>
                <span id="error-text"></span>
            </div>

            <div class="switch-form-button" onclick="switch_to_form('sign-up')">Sign Up</div>
        </form>

        <form id="sign-up-form" onsubmit="sign_up(event)">
            <h2>Sign Up To Chess</h2>

            <div class="fields-container">
                <div class="input-box">
                    <span class="fas fa-user input-icon"></span>
                    <input type="text" id="username" placeholder="Username" oninput="validate_usename(this)" required>
                </div>

                <div class="input-box">
                    <span class="fas fa-lock input-icon"></span>
                    <input type="password" id="password" placeholder="Password" oninput="validate_password(this)" required>
                    <span class="fas fa-eye-slash toggle-password-visibility-button" onclick="toggle_password_visibility(this)"></span>
                </div>
            </div>

            <button class="submit-button">
                <span class="fas fa-user-plus"></span>Sign Up
            </button>

            <div class="form-message" id="error-message">
                <span class="fas fa-exclamation-triangle"></span>
                <span id="error-text"></span>
            </div>

            <div class="form-message" id="success-message">
                <span class="fas fa-user-check"></span>Account Created Successfully
            </div>

            <div class="switch-form-button" onclick="switch_to_form('login')">Login</div>
        </form>
    </div>

    <div class="home">
        <button class="logout-button" onclick="logout()">
            <span class="fas fa-sign-out"></span>Logout
        </button>

        <h1>Welcome To Chess!</h1>

        <div class="switch-tab-buttons">
            <button id="play-tab-button" onclick="switch_to_tab('play')">
                <img src="/assets/home/switch-tab-buttons/play.png" /><span>Play</span>
            </button>

            <button id="leaderboard-tab-button" onclick="switch_to_tab('leaderboard')">
                <img src="/assets/home/switch-tab-buttons/leaderboard.png" /><span>Leaderboard</span>
            </button>

            <button id="history-tab-button" onclick="switch_to_tab('history')">
                <img src="/assets/home/switch-tab-buttons/history.png" /><span>History</span>
            </button>
        </div>

        <div class="play-tab">
            <div class="play-config">
                <div id="players">
                    <button id="play-AI" onclick="update_players('AI')">
                        <img src="/assets/home/play-tab/players/AI.png" />Play AI
                    </button>

                    <button id="play-people" onclick="update_players('people')">
                        <img src="/assets/home/play-tab/players/people.png" />Play People
                    </button>
                </div>

                <div id="AI-difficulty">
                    <span class="fas fa-minus" onclick="update_AI_difficulty(AI_difficulty - 1)"></span>
                    <img />
                    <span class="fas fa-plus" onclick="update_AI_difficulty(AI_difficulty + 1)"></span>
                </div>

                <div id="gamemode">
                    <button id="local-play" onclick="update_gamemode('local')">
                        <img src="/assets/home/play-tab/gamemode/local.png" />Local Play
                    </button>

                    <button id="online-play" onclick="update_gamemode('online')">
                        <img src="/assets/home/play-tab/gamemode/online.png" />Online Play
                    </button>
                </div>

                <div id="time">
                    <button id="bullet-time" onclick="update_time('bullet')">
                        <img src="/assets/home/play-tab/time/bullet.png" />1
                    </button>

                    <button id="blitz-time" onclick="update_time('blitz')">
                        <img src="/assets/home/play-tab/time/blitz.png" />5
                    </button>

                    <button id="rapid-time" onclick="update_time('rapid')">
                        <img src="/assets/home/play-tab/time/rapid.png" />10
                    </button>
                </div>

                <div id="player-color">
                    <img id="white-color" src="/assets/home/play-tab/player-color/white.png" onclick="update_player_color('white')" />
                    <img id="random-color" src="/assets/home/play-tab/player-color/random.png" onclick="update_player_color('random')" />
                    <img id="black-color" src="/assets/home/play-tab/player-color/black.png" onclick="update_player_color('black')" />
                </div>

                <div class="input-box" id="opponent-username">
                    <span class="fas fa-user input-icon"></span>
                    <input type="text" placeholder="Opponent Username" oninput="validate_usename(this)" onkeydown="if (event.key == 'Enter') launch_game()" required>
                </div>
            </div>

            <button class="play-button" onclick="launch_game()">
                <span class="fas fa-gamepad"></span>Play
            </button>
        </div>

        <div class="leaderboard-tab">
            <table>
                <thead>
                    <tr>
                        <th>Player</th>
                        <th>Rating</th>
                        <th>Won</th>
                        <th>Draw</th>
                        <th>Lost</th>
                    </tr>
                </thead>

                <tbody></tbody>
            </table>
        </div>

        <div class="history-tab">
            <table>
                <thead>
                    <tr>
                        <th>White</th>
                        <th>Black</th>
                        <th>Result</th>
                        <th>Date</th>
                    </tr>
                </thead>

                <tbody></tbody>
            </table>
        </div>
    </div>

    <div class="game">
        <div class="game-header">
            <button id="home-button" onclick="reset_home()">
                <span class="fas fa-home"></span>Home
            </button>

            <button id="undo-button" onclick="undo(players == 'people' ? 1 : (undo_stack.length > 1 ? 2 : 0))">
                <span class="fas fa-arrow-rotate-left"></span>Undo
            </button>
        </div>

        <div class="player-info" id="b-player">
            <img class="profile-picture" src="/assets/game/profile-pictures/black.png" />

            <div class="player-data">
                <div class="username">Black</div>

                <div class="captured-data">
                    <span class="captured-pieces"></span>
                    <span class="captured-score"></span>
                </div>
            </div>

            <div class="timer">
                <img />
                <span></span>
            </div>
        </div>

        <div class="board"></div>

        <div class="player-info" id="w-player">
            <img class="profile-picture" src="/assets/game/profile-pictures/white.png" />

            <div class="player-data">
                <div class="username">White</div>

                <div class="captured-data">
                    <span class="captured-pieces"></span>
                    <span class="captured-score"></span>
                </div>
            </div>

            <div class="timer">
                <img />
                <span></span>
            </div>
        </div>

        <div class="popup">
            <span class="fas fa-times hide-popup-button" onclick="hide_popup()"></span>

            <div class="popup-text">
                <span class="popup-title"></span>
                <span class="popup-description"></span>
            </div>

            <button onclick="launch_game()">
                <span class="fas fa-arrows-rotate"></span>Play Again
            </button>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
    <script src="script.js"></script>
</body>
</html>